$main-font: 'JetBrains Mono', monospace
$green: #81cdc2
$black: #262626
$light: #3e4351
$white: #fff
$filter-black: invert(12%) sepia(2%) saturate(37%) hue-rotate(345deg) brightness(97%) contrast(92%)
$filter-green: invert(76%) sepia(18%) saturate(640%) hue-rotate(122deg) brightness(97%) contrast(90%)
%input-title
  text-align: left
  font-size: 14px
  color: $green
  margin-right: 10px
